/* custom fonts */

@font-face {
	font-family: "Modelica";
	src:
			url("fonts/eot/BwModelica-Regular.eot?") format('embedded-opentype'),
			url("fonts/woff/BwModelica-Regular.woff") format("woff"),
			url("fonts/woff2/BwModelica-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Modelica Medium";
	src:
			url("fonts/eot/BwModelica-Medium.eot?") format('embedded-opentype'),
			url("fonts/woff/BwModelica-Medium.woff") format("woff"),
			url("fonts/woff2/BwModelica-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Modelica Bold";
	src: 
			url("fonts/eot/BwModelica-Bold.eot?") format('embedded-opentype'),
			url("fonts/woff/BwModelica-Bold.woff") format("woff"),
			url("fonts/woff2/BwModelica-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Modelica ExtraBold";
	src:
			url("fonts/eot/BwModelica-ExtraBold.eot?") format('embedded-opentype'),
			url("fonts/woff/BwModelica-ExtraBold.woff") format("woff"),
			url("fonts/woff2/BwModelica-ExtraBold.woff2") format("woff2");
}

@font-face {
	font-family: "Modelica Black";
	src:
			url("fonts/eot/BwModelica-Black.eot?") format('embedded-opentype'),
			url("fonts/woff/BwModelica-Black.woff") format("woff"),
			url("fonts/woff2/BwModelica-Black.woff2") format("woff2");
}

@font-face {
	font-family: "Modelica Hairline";
	src:
			url("fonts/eot/BwModelica-Hairline.eot?") format('embedded-opentype'),
			url("fonts/woff/BwModelica-Hairline.woff") format("woff"),
			url("fonts/woff2/BwModelica-Hairline.woff2") format("woff2");
}

@font-face {
	font-family: "Modelica Thin";
	src: 
			url("fonts/eot/BwModelica-Thin.eot?") format('embedded-opentype'),
			url("fonts/woff/BwModelica-Thin.woff") format("woff"),
			url("fonts/woff2/BwModelica-Thin.woff2") format("woff2");
}

@font-face {
	font-family: "Modelica Light";
	src: 
			url("fonts/eot/BwModelica-Light.eot?") format('embedded-opentype'),
			url("fonts/woff/BwModelica-Light.woff") format("woff"),
			url("fonts/woff2/BwModelica-Light.woff2") format("woff2");
}

/* end of custom fonts */

/* multi-page use CSS elements */

.button-download {
	background-color: #A93F55; /* A93F55*/
	font-family: Modelica Bold;
	border: none;
	border-color: #E85D75;
	border-radius: 3%;
	color: white;
	padding: 1vh 2.5vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.spacer {
	height: 10vh;
}

.spacer-half {
	height: 5vh;
}

.hs-left {
	padding-left: 5vw;
}

.hs-right {
	padding-right: 5vw;
}

.vs-bellow {
	padding-bottom: 2vh;
}

.vs-above {
	padding-top: 2vh;
}

.wrapper-hor {

	margin: 0 auto;
	width: 100%;
	
}

.hor-element-block {
	display: inline-block;
}

.header-normal {
	font-family: Modelica;
	color: #F3F3F3;
}

.text-normal {
	font-family: Modelica;
	color: #DDDDDD;
}

/* end of Multi-Page use CSS elements */

/* layout CSS */

html {
	overflow: hidden;
	max-width: 100% !important;
	height: 100%;
}

body {
	
	height: 100%;
	overflow: auto;
		
	padding: 0;
	margin: 0;
		
	background-image: 
			url('bin/backgrounds/background_v5.png'),
			linear-gradient(to right bottom, #152830, #162a32, #162b34, #172d37, #182f39, #193444, #1c394e, #243d59, #41416a, #684170, #8d3e69, #a93f55);
	background-position: center;
}

a {
	font-family: Modelica Medium;
}

a:link {
	color: #999999;
}

a:visited {
	color: #999999;
}

a:hover {
	color #19323C;
}

a:active {
	color #999999;
}

.container {
	width: 100%;
	height: 100%;
}

/* end of layout CSS */