<link rel="stylesheet" type="text/css" href="../static/_footer.css">

<footer class="page-footer font-small blue pt-4">

	<!--
	<h2 class="text-center vs-above"> Why Choose Grackle Over SMS, Telegram</h2>
	<div class="wrapper-hor text-center vs-above">
		<div class="card hor-element-block hs-right">
			<div class="card-body">
				<h4 class="card-title">Trust & Accountability</h4>
				<p class="card-text">Some example text. Some example text.</p>
			</div>
		</div>
		<div class="card hor-element-block hs-right">
			<div class="card-body">
				<h4 class="card-title">100% Anonymous</h4>
				<p class="card-text">Some example text. Some example text.</p>
			</div>
		</div>
		<div class="card hor-element-block">
			<div class="card-body">
				<h4 class="card-title">No Payments or Transactions</h4>
				<p class="card-text">Some example text. Some example text.</p>
			</div>
		</div>
	</div> -->

	<div class="spacer-half"></div>
	
	<div class="container-fluid text-center text-md-left reroute-links">
	
		<div class="row">
			
			<hr class="vertical-divider">
			
			<div class="col-md-6 mt-md-0 mt-3 text-left hs-left">
			
				<h2>Manakin</h2>
				<p class="text-normal vs-bellow">Grackle is a communication routing and encryption service providing untraceable messages through the use of exit nodes.</p>
				<button class="block button-download vs-above vs-bellow"> Coming Soon </button>
				
			</div>
			
			<div class="box-redirect vs-above">
			
				<div class="col-md-1 mb-md-0 mb-3 hs-left">
					<h5 class="text-uppercase header-normal" align="left">Product</h5>
					<ul class="list-unstyled" align="left">
						<li>
							<a href="#!">Download</a>
						</li>
						<li>
							<a href="#!">Branding</a>
						</li>
						<li>
							<a href="#!">Pricing</a>
						</li>
					</ul>
				</div>

				<div class="col-md-1 mb-md-0 mb-3 hs-left" style="width: 14vw;">
					<h5 class="text-uppercase header-normal" align="left">Features</h5>
					<ul class="list-unstyled" align="left">
						<li>
							<a href="#!">Text Nodes</a>
						</li>
						<li>
							<a href="#!">Data Storage</a>
						</li>
						<li>
							<a href="#!">Grackle Teams</a>
						</li>
					</ul>
				</div>

				<div class="col-md-1 mb-md-0 mb-3" style="width: 12vw;">
					<h5 class="text-uppercase header-normal" align="left">Documentation</h5>
					<ul class="list-unstyled" align="left">
						<li>
							<a href="#!">Help & Support</a>
						</li>
						<li>
							<a href="#!">Terms of Service</a>
						</li>
						<li>
							<a href="#!">User Privacy</a>
						</li>
						<li>
							<a href="#!">Feedback</a>
						</li>
					</ul>

				</div>

				<div class="col-md-1 mb-md-0 mb-3">
					<h5 class="text-uppercase header-normal" align="left">Company</h5>
					<ul class="list-unstyled" align="left">
						<li>
							<a href="#!">About</a>
						</li>
						<li>
							<a href="#!">Hiring</a>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		
		<div class="footer-copyright text-center py-3 vs-above">© 2020 Copyright:
			<a href="/"> Grackle.ca </a>
		</div>

	</div>
	
</footer>