<link rel="stylesheet" type="text/css" href="../static/_navbar.css">

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	
		<div class="navbar-header navbar-logo hs-left">
			<a href="/">
				<img alt="Manakin" src="../static/bin/branding/grackle_white_transparent.png" width="150vw" height="auto">
			</a>
		</div>
		
		<ul class="nav navbar-nav navbar-center vs-above">
			<li><a class="link-text" href="#">Download</a></li>
			<li><a class="link-text" href="#">About</a></li>
			<li><a class="link-text" href="#">Documentation</a></li>
			<li><a class="link-text" href="#">Community</a></li>
		</ul>
		
		<div class="nav-header navbar-right">
			<a class="test" href="/">
				<img src="../static/bin/icons/social_media/insta.png">
			</a>
			<a class="icon-social-media" href="/">
				<img src="../static/bin/icons/social_media/twitt.png">
			</a>
			<a class="icon-social-media space-icon-languages" href="/">
				<img src="../static/bin/icons/social_media/fb.png">
			</a>
			<button class="button-download button-edits"> Download Grackle </button>
		</div>
		
	</div>
</nav>