{% extends "layout.html" %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	
	<div class="section-one">
	
		<img class="col-md-6 section-one-block main-image" src="../static/bin/drawings/data_view.svg">
		
		<div class="section-one-block subsection-one">
		
			<div class="spacer"></div>
			<div class="spacer-half"></div>
			<h1 class="col-md-6 mt-md-0 mt-3 block main-header"> A <u>secure</u> way to text with people from around the globe &#127758 </h1>
			<h4 class="normal-text main-subtext">Grackle is the simplist way for you to keep your personal conversations private and your location anonymous while communicating between co-workers, family, friends, or a random stranger you might not trust.</h4>
			<div class="spacer-half"></div>
			<button class="main-button" onclick="location.href('login.html');" value="Redirect"> Download Grackle </button>
			<button class="main-button"> How does it work? </button>
			
		</div>
		
	</div>

{% endblock content %}