{% extends "layout.html" %}

{% block content %}

	<link rel="stylesheet" type="text/css" href="../static/login.css">
	
	<div class="card login-form">
		<div class="card-header">
			<h3>Welcome back, </h3>
		</div>
		<div class="card-body">
			
			<input type="username" id="user" name="username" maxlength="12" placeholder="johndoe" required>
			<input type="password" id="pass" name="password" minlength="8" placeholder="••••••••" required>
		</div> 
		<div class="card-footer">
		</div>
	</div>
	
{% endblock content %}